*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: black;
}
body{
    display: grid;
    place-items: center;
    text-decoration: none;
    height: 100vh;
    width: 100%;
    background: linear-gradient( 180deg,  rgb(118, 28, 181), black);

    .contenedor{
        width: 300px;
        height: 300px;
        border-radius: 14px;
        box-shadow: 0 0 15px -3px white;
        background-color: gray;
        padding: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;   
    }

    footer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80px;
        width: 100%;
        font-size: 20px ;
        position: fixed;
        bottom: 0;
        background: linear-gradient( 180deg,  rgb(118, 28, 181), black);
        gap: 10px;

        button{
            border: none;
            padding: 10px;
            font-size: 20px;
            min-width: 50px;
            background-color: white;  
            text-align: center;
            border-radius: 20px;
            transition: all 0.2s ease-in-out;
            box-shadow: 0 0 15px -3px white;
       }
       button#restar:hover{
            color: red;
            background-color: rgb(170, 91, 91);
            cursor: pointer;
            transform: scale(1.1);
       }
       button#sumar:hover{
        color: green;
        background-color: rgb(115, 202, 115);
        cursor: pointer;
        transform: scale(1.1);
        }

       p{
        display: flex;
        border-radius: 30px;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 50%;
        width: 10%;
        border: none;
        background-color: white;
        box-shadow: 0 0 15px -3px white;
       }

    
    }

}